@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* general */

body {
    padding: 0.8em 1.5em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

body>div {
    background-color: white;
    max-width: 75em;
    margin: 0 auto;
}

/* header */

header>div:nth-of-type(1) {
    font-size: 0.9rem;
}

header>div:nth-of-type(1)>div:nth-of-type(1) {
    display: flex;
    padding-left: 2em;
    padding-block: 0.5em;
    gap: 0.7em;
}

header>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2) {

    padding-left: 0.3em;
    width: 20em;
}

header>div:nth-of-type(2) {
    padding-left: 2.5em;
    padding-bottom: 1.5em;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h1+p {
    margin-top: 0.5em;
}

header img {
    width: 100%;
    border-bottom: 1px solid white;
}

header nav {
    display: flex;
    background-color: #232323;

    border-top-width: 4px;
    border-top-style: solid;

    font-size: 0.9rem;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header li {
    display: flex;
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    padding: 0.7em;
}

.fa-home {
    font-size: 23px;
    margin-right: 1.2em;
}

.fa-angle-down {
    margin-left: 0.5em;
}


/* main */

.container>div {
    display: flex;
    padding: 3em 2em;
    gap: 1.8em;
}

main {
    flex: 2;
}

main>div {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5em 1em;
    margin-bottom: 2em;
}

main>div>div:first-of-type {
    flex: 2 40em;
}

main>div>div:first-of-type>div:first-of-type {
    text-align: center;
}

.event-preview,
main>div>div:last-of-type {
    flex: 15em;
}

.event-preview {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding-bottom: 1em;
}

.event-preview a div {
    margin-bottom: 1em;
    height: 13em;
}

.event-preview>div:last-of-type {
    padding-inline: 1em;
}

main h2 {
    font-size: 2rem;
}

main h2,
main h3 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.2em;
}

main h3 {
    font-size: 1.4rem;
}

h2+div,
h3+div {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3em;
    font-size: 0.7rem;
    margin-bottom: 2em
}

h2+div .far,
h2+div .fas,
h3+div .far,
h3+div .fas {
    margin-right: 0.8em;
}

button {
    border: 0;
    border-radius: 3px;
    font-size: 0.7rem;
    padding: 0.5em 0.8em;
    margin-bottom: 0.8em;
}

button:hover {
    cursor: pointer;
}

main a,
aside a {
    text-decoration: none;
}

main>div>div:nth-of-type(2) a div {
    background-image: url(../img/event-banners/PROQUARTIANO-libri-2023.png);
}

main>div>div:nth-of-type(3) a div {
    background-image: url(../img/event-banners/PQ_aprile2023-768x644.png);
}

main>div>div:nth-of-type(4) a div {
    background-image: url(../img/event-banners/PQ-mercatino-libri2023-1024x899.png);
}

main>div>div:nth-of-type(5) a div {
    background-image: url(../img/event-banners/pq-sfondo.png);
}

main>div>div:nth-of-type(6) a div {
    background-image: url(../img/event-banners/concorsocori2023_proquartiano-.png);
}

main>div>div:nth-of-type(7) a div {
    background-image: url(../img/event-banners/PROQUARTIANO_sagra2022-724x1024.png);
}

main>div>div:nth-of-type(8) a div {
    background-image: url(../img/event-banners/mhAWP1w-scaled-e1651183802880-1024x599.jpg);
}

main>div>div:nth-of-type(9) a div {
    background-image: url(../img/event-banners/header-fg-2.png);
}

main>div>div:nth-of-type(10) a div {
    background-image: url(../img/event-banners/mm31Luy-e1651185188991.jpg);
}

main>a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.3rem;
}

main>a p {
    margin: 0;
}

main>a p:hover {
    text-decoration: underline;
}

/* aside */

aside {
    flex: 1;
}

aside>div {
    padding: 1em;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 0.9rem;
}

h3 span {

    padding: 0.3em 0.6em;
    display: inline-block;
}

aside h3 {
    margin: 0;
    font-weight: 400;
    font-size: 1.2rem;
}

aside section>div {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

aside ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin-top: 1.6em;
}

aside li {
    list-style-type: none;
}

aside li:hover {
    text-decoration: underline;
}


/* footer */

footer {
    font-size: 0.9rem;
}

footer section:first-of-type>div {
    padding: 2em 1.5em 3em;
    display: flex;
}

footer section:first-of-type>div>div:nth-of-type(1) {
    margin-right: 18em;
}

footer section:first-of-type>div>div:nth-of-type(2) {
    margin-right: 5em;
}

footer address {
    font-style: normal;
}

footer address+p {
    font-size: 1.6em;
    margin-top: 1.6em;
}

footer img {
    width: 15em;
}

footer section:first-of-type>div>div>div {
    display: flex;
    gap: 0.4em;
}

footer section:first-of-type>div>div>div * {
    height: 45px;
}

input[type="search"] {
    width: 8em;
}

footer label {
    font-weight: 700;
}

footer button {
    font-size: 1rem;
    border: 1px solid white;
}

footer section:last-of-type>div {
    padding: 1.4em 1.5em;
}

footer section:last-of-type p {
    margin: 0;
}


/* color theme */

body {
    background-color: #FFE75A;
}

header>div:nth-of-type(1)>div:nth-of-type(1) {
    background-color: #F8F8F8;
}

header>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(2) {
    background-color: #EBEBEC;
}

header nav {
    background-color: #232323;
}

h1,
header strong+span,
main a:hover,
aside a {
    color: #DF3331;
}

header nav,
button,
aside h3 {
    color: white;
}


.event-preview p {
    color: #444444;
}

.event-preview h3+div * {
    color: #888888;
}

button,
.associazione,
header li:first-of-type,
header li:hover,
h3 span {
    background-color: #DF3331;
}

.concorso-cori {
    background-color: #1E73BE;
}

.manifestazioni {
    background-color: #DD9933;
}

header nav,
aside section>div {
    border-color: #DF3331;
}

aside li:hover {
    text-decoration-color: #DF3331
}

main a {
    color: black;
}

footer section,
footer section:last-of-type a {
    color: #AAAAAA;
}

footer section:first-of-type {
    background-color: #303440;
}

footer section:first-of-type p {
    color: #CF2E2E;
}

footer section:last-of-type {
    background-color: #252730;
}